.outerContainer{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url(./img/bg-01.png);  
   background-size: cover;
}
.logoDivSignin{
    display: flex;
    padding: 25px;
}
.formbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    /* margin-left:60px; */
}
.heading12 h2 {
    font-weight: bold;
    font-family: arial;
   
}

   .heading12 p{
color:gray;
font-weight: bold;
font-size: 12px;
margin-top:5px;
   }
.forget{
    font-size: 20px;
    
    font-weight: bold;
    margin-left: 50px;
    margin-top:5px;
}
.forgetText{
    color:#DF3ECF;
    text-decoration: none;
    cursor: pointer;
}
/* hr{
    margin:auto;
    width:8%;
} */

.input1{
    margin:auto;
    font-size: 20px;
    outline: 0!important;

}
.emailtextfield, .passwardtextfield{
    width: 100%;
}
.input2{
    margin:auto;
}

/* .btn{
 
} */
.btn button {
    background-color: transparent;
    border: none;
    outline: 0 !important;
    font-family: Arial;
    /* display: inline-block;  */
    padding: 5px 12px;
    /* margin-bottom: 0; */
    font-size: 15px;
    line-height: 1.42857143;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 6px;
    background: linear-gradient(to bottom, rgba(210,111,213,.66),rgba(53,48, 180, .48));
    margin: auto;
    color: white;
}
#text{
    color:white;

}
.btn button img{
    width: 20%;
}
@media (max-width:768px) {
    #text{
font-size:8px;
    }
    .outerContainer{
      background-image: url(./img/bgphone-01.png);

    }
    .logoDivSignin img{
        width: 30%;
      }
      .btn button img{
          width: 20%;
      }
}

@media screen and (min-width: 769px) and (max-width:1367px){
    .outerContainer{
        background-image: url(./img/ipadbg-01.png);
    }
}
