.form{
    margin-left:60px;
}
.heading12{
   margin-top: 170px ;
}

   .heading12 p{
color:gray;
font-weight: bold;
font-size: 12px;
margin-top:5px;
   }
.forget{
    font-size: 20px;
    
    font-weight: bold;
    margin-left: 50px;
    margin-top:5px;
}
.forget span{
    color:purple
}
hr{
    margin:auto;
    width:8%;
}

.input1{
    margin:auto;


}
.input2{
    margin:auto;
}


#text{
    color:white;

}
@media (max-width:568px) {
    #text{
font-size:8px;
    }
}
